body {
    margin: 0;
    height: 100vh;
    background-color: pink;
}

.container {
display: flex;
justify-content: center;
align-items: center;
margin-top: 40px;
height: 400px;
width: 350px;
max-width: 60%;
margin-inline: auto;
border: 1px solid black;
padding-bottom: 50px;
background-color: white;
border-radius: 10px;



}
.container img {
    width: 100%;
    border-radius: 10px;
    
}

.container .cross {
    background: url(https://cdn0.iconfinder.com/data/icons/jam-vol-2/24/close-rectangle-f-512.png);
    height:50px;
    width: 50px;
    position: absolute;
    
    background-size: cover;
    left: 41%;
    bottom:42.7%;
    margin-bottom: 7px;
    cursor: pointer;
    


}  
.container .heart{
    background: url(https://cdn0.iconfinder.com/data/icons/small-n-flat/24/678087-heart-512.png);
    height:50px;
    width: 50px;
    position: absolute;
   
    background-size: cover;
    left: 56%;
    bottom:43%;
    margin-bottom: 7px;
   cursor: pointer;

}  
